@model IEnumerable<OnlineLibrary.DataLayer.Entiteties.Book>
@using System.Security.Claims

	@if (User.Identity.IsAuthenticated &&
		User.Claims.Where(p => p.Type == ClaimTypes.Role).FirstOrDefault() != null &&
		User.Claims.Where(p => p.Type == ClaimTypes.Role).FirstOrDefault().Value == "Admin")
{
<a asp-action="Create">Create New</a> 
}
	<form action="/Books/Index" method="get">
		<label>Filter</label>
		<input type="text" name="filterTerm" placeholder="Enter search term...">
		<button type="submit">Filter</button>
	</form>

<div class="card">

	<table class="table table-bordered table-hover">
		<thead class="thead-dark">
			<tr>
				@*   <th scope="col">Id</th> *@
				<th scope="col">Title</th>
				<th scope="col">Description</th>
				<th scope="col">Category</th>
				<th scope="col">Author</th>
				<th scope="col">ISBN</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>

			</tr>
			@foreach (var item in Model)
			{
				<tr>
					@*  <td>
				@item.Id
				</td> *@
					<td>
						@item.Title
					</td>
					<td>
						@item.Description
					</td>
					<td>
						@item.Category
					</td>

					<td>
						@item.Author.FullName
					</td>
					<td>
						@item.ISBN
					</td>

					<td>
						
							<a asp-action="Details" asp-route-id="@item.Id">Details</a>
							@if (User.Identity.IsAuthenticated &&
										User.Claims.Where(p => p.Type == ClaimTypes.Role).FirstOrDefault() != null &&
										User.Claims.Where(p => p.Type == ClaimTypes.Role).FirstOrDefault().Value == "Admin")
						{
							<a asp-action="Update" asp-route-id="@item.Id">Update</a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<style>
	.table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
	}

		.table th,
		.table td {
			padding: 8px;
			text-align: left;
			border-bottom: 1px solid #ddd;
		}

		.table th {
			background-color: #f2f2f2;
		}

		.table tbody tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		.table tbody tr:hover {
			background-color: #ddd;
		}

	.search-form {
		display: flex;
		margin-bottom: 20px;
	}

		.search-form input {
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin-right: 10px;
		}

	.search-button {
		padding: 10px 20px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}

		.search-button:hover {
			background-color: #0056b3;
		}

	.author-list {
		list-style-type: none;
		padding: 0;
	}

		.author-list li {
			background-color: #f2f2f2;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
		}

			.author-list li:hover {
				background-color: #ddd;
			}

			.author-list li a {
				color: #007bff;
				text-decoration: none;
				margin-right: 10px;
			}

				.author-list li a:hover {
					text-decoration: underline;
				}
				<p style="color:red">@ViewBag.ErrorMessage</p>
</style>
